/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}
.carousel {
  position: relative;
  margin-top: 16px;
}
@media (min-width: 880px) {
  .carousel {
    height: 60vh;
  }
}
.carousel .left-button,
.carousel .right-button {
  background-color: #2E3549;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 50px;
  cursor: pointer;
}
@media (min-width: 880px) {
  .carousel .left-button,
  .carousel .right-button {
    top: 50%;
  }
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #2E3549;
  background-color: white;
  border: 3px solid #2E3549;
}
.carousel .left-button {
  left: -24px;
  padding: 5px 4px 0 0;
  transform: translate(0, -50%);
}
@media (min-width: 880px) {
  .carousel .left-button {
    right: 24px;
  }
}
.carousel .right-button {
  padding: 5px 0 0 4px;
  right: -24px;
  transform: translate(0, -50%);
}
@media (min-width: 880px) {
  .carousel .right-button {
    right: 24px;
  }
}
.carousel img {
  border: 1px solid black;
  height: auto;
  width: 100%;
}
.carousel-caption {
  background: rgba(46, 47, 66, 0.8);
  padding: 16px;
  width: 100%;
}
.carousel-caption .testimonial-name {
  font-size: 24px;
  padding-left: 24px;
}
.carousel-caption .testimonial-user-since {
  display: inline-block;
  padding: 8px 0;
}
.carousel-caption .testimonial-workout-style {
  float: right;
  padding: 8px 0;
}
.carousel-caption .testimonial-quote {
  padding-bottom: 8px;
}
footer {
  grid-column: 2 / -2;
  background: grey;
  padding: 128px 0 48px;
  text-align: center;
}
header div {
  padding: 0 16px 32px;
  margin: 124px 0;
}
header nav {
  display: flex;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header nav a {
  color: white;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  padding: 16px 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-indent: 3rem;
  white-space: nowrap;
  width: 3rem;
}
header nav a::before {
  font-family: "Font Awesome 5 Free";
  text-align: right;
  padding-right: 1rem;
  content: '\f0c9';
  float: right;
}
@media (min-width: 880px) {
  header nav a {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 12px 24px;
    padding: 16px 0;
    text-indent: 1rem;
    width: auto;
  }
  header nav a:hover {
    border: 2px solid rgba(255, 255, 255, 0.25);
  }
}
header nav p {
  opacity: 0;
}
header nav.sticky-header {
  background: #2E3549;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.6);
}
header nav.sticky-header p {
  align-self: center;
  color: white;
  display: inline-block;
  font-family: monospace;
  font-size: 24px;
  margin-left: 20%;
  opacity: 1;
  text-align: center;
}
@media (min-width: 880px) {
  header nav.sticky-header {
    height: 72px;
  }
}
header h1 {
  color: white;
  font-family: monospace;
}
#menu-overlay {
  background: rgba(46, 47, 66, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
#menu-overlay.display-menu {
  display: block;
}
nav.menu-nav {
  align-items: center;
  background: #4E5798;
  display: flex;
  flex-direction: column;
  left: 15%;
  padding-bottom: 16px;
  position: fixed;
  top: 20%;
  width: 70vw;
  z-index: 4;
}
nav.menu-nav a,
nav.menu-nav p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 0;
  margin: 8px 0;
  text-decoration: none;
}
nav.menu-nav .close {
  align-self: flex-end;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 8px;
  overflow: hidden;
  margin: 4px;
  text-indent: 40px;
  width: 40px;
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cstyle%3Eline%20%7B%20stroke%3A%20%23ffffff%3B%20stroke-width%3A%202px%3B%20%7D%3C/style%3E%3Cline%20x1%3D%2220%22%20y1%3D%2220%22%20x2%3D%2244%22%20y2%3D%2244%22%20/%3E%3Cline%20x1%3D%2220%22%20y1%3D%2244%22%20x2%3D%2244%22%20y2%3D%2220%22%20/%3E%3C/svg%3E');
}
nav.menu-nav p {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  font-size: 24px;
  padding: 0 0 24px;
  text-align: center;
  width: 70%;
}
@media (min-width: 880px) {
  nav.menu-nav {
    left: 40%;
    width: 20vw;
  }
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h4 {
  margin: 8px 0 16px;
}
header {
  background: gray;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(1rem, 6rem)) minmax(1rem, 1fr);
  height: 60vh;
}
header div {
  grid-column: 1 / -1;
  align-self: center;
  width: 100%;
}
header div h1 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  font-size: 2rem;
  padding-bottom: 16px;
  margin-bottom: 24px;
}
header div p {
  color: white;
  text-transform: uppercase;
}
@media (min-width: 880px) {
  header div {
    grid-column: 4 / -4;
  }
}
section {
  grid-column: 3 / -3;
  padding: 48px 0 64px;
}
section h4 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding-bottom: 12px;
}
section img.button {
  border-radius: 100%;
  height: 40vw;
  margin: 16px 0;
  max-width: 40vw;
}
@media (min-width: 880px) {
  section img.button {
    height: 120px;
    width: 120px;
  }
}
@media (min-width: 880px) {
  section {
    grid-column: 4 / -4;
  }
}
.section-wrapper {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(1rem, 6rem)) minmax(1rem, 1fr);
  padding: 40px 0;
  position: relative;
}
.section-wrapper.style-one {
  background: #2E3549;
  text-align: right;
}
.section-wrapper.style-one:before,
.section-wrapper.style-one:after {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22none%22%3E%3Cpolygon%20points%3D%220,100%20100,0%20100,100%22%20style%3D%22fill%3A%232E3549%3B%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  width: 100%;
}
.section-wrapper.style-one:before {
  left: 0;
  top: -40px;
}
.section-wrapper.style-one:after {
  bottom: -40px;
  left: 0;
  transform: scaleY(-1);
}
.section-wrapper.style-two {
  background: #4E5798;
}
.section-wrapper.style-two:before,
.section-wrapper.style-two:after {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22none%22%3E%3Cpolygon%20points%3D%220,100%20100,0%20100,100%22%20style%3D%22fill%3A%234E5798%3B%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  width: 100%;
}
.section-wrapper.style-two:before {
  left: 0;
  top: -40px;
}
.section-wrapper.style-two:after {
  bottom: -40px;
  left: 0;
  transform: scaleY(-1);
}
.section-wrapper.style-two:before {
  transform: scaleX(-1);
}
.section-wrapper.style-two:after {
  transform: scaleY(-1) scaleX(-1);
}
.section-wrapper.style-three {
  background: #2E2F42;
  text-align: right;
}
.section-wrapper.style-three:before,
.section-wrapper.style-three:after {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22none%22%3E%3Cpolygon%20points%3D%220,100%20100,0%20100,100%22%20style%3D%22fill%3A%232E2F42%3B%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  width: 100%;
}
.section-wrapper.style-three:before {
  left: 0;
  top: -40px;
}
.section-wrapper.style-three:after {
  bottom: -40px;
  left: 0;
  transform: scaleY(-1);
}
.section-wrapper.style-four {
  background: #4c5c96;
}
.section-wrapper.style-four:before,
.section-wrapper.style-four:after {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22none%22%3E%3Cpolygon%20points%3D%220,100%20100,0%20100,100%22%20style%3D%22fill%3A%234c5c96%3B%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  width: 100%;
}
.section-wrapper.style-four:before {
  left: 0;
  top: -40px;
}
.section-wrapper.style-four:after {
  bottom: -40px;
  left: 0;
  transform: scaleY(-1);
}
.section-wrapper.style-four:before {
  transform: scaleX(-1);
}
.section-wrapper.style-four:after {
  transform: scaleY(-1) scaleX(-1);
}
