/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(1rem, 6rem)) minmax(1rem, 1fr);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  line-height: 1.25;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 32px;
}
header nav {
  position: absolute;
  right: 0;
}
header nav a {
  color: white;
  display: inline-block;
  padding: 16px 0;
  text-decoration: none;
  text-indent: 3rem;
  white-space: nowrap;
  width: 3rem;
}
header nav a::before {
  font-family: "Font Awesome 5 Free";
  text-align: right;
  padding-right: 1rem;
  content: '\f0c9';
  float: right;
}
header h1 {
  color: white;
  font-family: monospace;
}
footer {
  grid-column: 2 / -2;
  margin: 48px 0;
  text-align: center;
}
.container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(1rem, 6rem)) minmax(1rem, 1fr);
  background: darkblue;
}
@media (min-width: 880px) {
  .container {
    grid-column: 4 / -4;
  }
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h4 {
  margin: 8px 0 16px;
}
header {
  align-items: flex-start;
  background: gray;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  height: 60vh;
}
header div {
  align-self: center;
  width: 100%;
}
header div h1 {
  border-bottom: 2px solid white;
  font-size: 2rem;
  padding-bottom: 16px;
  margin-bottom: 24px;
}
header div p {
  color: white;
  text-transform: uppercase;
}
.header-container {
  grid-column: 1 / -1;
  background: darkblue;
}
p {
  margin: 8px 0 16px;
}
section {
  grid-column: 2 / -2;
  padding: 24px 0;
}
section:first-child {
  padding-top: 48px;
}
section h4 {
  border-bottom: 2px solid white;
  color: white;
  text-align: right;
}
section p {
  color: white;
  text-align: right;
}
