.carousel {
  // height: 80vh;
  // overflow: hidden;
  position: relative;
  margin-top: 16px;
  @media @desk-break {
    height: 60vh;
  }
  .left-button, .right-button {
    background-color: @nav-bg-color;
    border-radius: 50%;
    color: @nav-font-color;
    font-size: 40px;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 50px;
    @media @desk-break {
      top: 50%;
    }
    
    cursor: pointer;
    &:hover {
      color: @nav-bg-color;
      background-color: @nav-font-color;
      border: 3px solid @nav-bg-color;
    }
  }
  .left-button {
    left: -24px;
    padding: 5px 4px 0 0;
    transform: translate(0, -50%);
    @media @desk-break {
      right: 24px;
    }
  }
  .right-button {
    padding: 5px 0 0 4px;
    right: -24px;
    transform: translate(0, -50%);
    @media @desk-break {
      right: 24px;
    }
  }
  img {
    border: 1px solid black;
    height: auto;
    width: 100%;
  }
}

.carousel-caption {
  background: @overlay-color;
  // bottom: 0;
  // display: flex;
  // flex-direction: column;
  padding: 16px;
  width: 100%;
  .testimonial-name {
    font-size: 24px;
    padding-left: 24px;
  }
  .testimonial-user-since {
    display: inline-block;
    padding: 8px 0;
  }
  .testimonial-workout-style {
    float: right;
    padding: 8px 0;
  }
  .testimonial-quote {
    padding-bottom: 8px;
  }
}
