* {
    box-sizing: border-box;
}

html {
    // font-size: 100%;
  }

h1 {
    font-family: @hed-font-stack;
    font-size: 3rem;
}
h2 {
    font-family: @hed-font-stack;
    font-size: 2.5rem;
}
h3 {
    font-family: @hed-font-stack;
    font-size: 2rem;
}
h4 {
    font-family: @hed-font-stack;
    font-size: 1.5rem;
}
p {
    color: @body-font-color;
    font-family: @body-font-stack;
    line-height: 1.25;
}