.container {
    .grid-all;
    @media @desk-break {
        .grid-main;
    }
}

h4 {
    margin: 8px 0 16px;
}

header {
    background: gray;
    h1 {
        margin-top: 120px;
    }
}

p {
    margin: 8px 0 16px;
}