.container {
    .grid-all;
    .foundation-grid;
    background: @body-bg-color-one;
    @media @desk-break {
        .grid-main;
    }
}

// Uppercase the headers 
h1, h2, h3, h4 {
    text-transform: uppercase;
}

h4 {
    margin: 8px 0 16px;
}

header {
    align-items: flex-start;
    background: gray;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    // flex-wrap: wrap;
    height: 60vh;
    div {
        align-self: center;
        width: 100%;
        h1 {
            border-bottom: 2px solid @nav-font-color;
            font-size: 2rem;
            padding-bottom: 16px;
            margin-bottom: 24px;
        }
        p {
            color: @nav-font-color;
            text-transform: uppercase;
        }
    }
}
.header-container {
    .grid-all;
    background: @body-bg-color-one;
}

p {
    margin: 8px 0 16px;
}

section {
    .grid-wide;
    padding: 24px 0;
    &:first-child {
        padding-top: 48px;
    }
    h4 {
        border-bottom: 2px solid @header-font-color;
        color: @header-font-color;
        text-align: right;
    }
    p {
        color: @body-font-color;
        text-align: right;
    }
}