h1, h2, h3, h4 {
    text-transform: uppercase;
}

h4 {
    margin: 8px 0 16px;
}

header {
    background: gray;
    .foundation-grid;
    height: 60vh;
    div {
        .grid-column(1);
        align-self: center;
        width: 100%;
        h1 {
            border-bottom: 2px solid @border-line-color;
            font-size: 2rem;
            padding-bottom: 16px;
            margin-bottom: 24px;
        }
        p {
            color: @nav-font-color;
            text-transform: uppercase;
        }
        @media @desk-break {
            .grid-column(4);
        }
    }
}

section {
    .grid-column(3);
    padding: 48px 0 64px;
    h4 {
        border-bottom: 2px solid @border-line-color;
        color: @hed-font-color;
        padding-bottom: 12px;
    }
    img {
        border-radius: 100%;
        height: 40vw;
        margin: 16px 0;
        max-width: 40vw;
        @media @desk-break {
            height: 120px;
            width: 120px;
        }
    }
    @media @desk-break {
        .grid-column(4);
    }
}
.section-wrapper {
    .foundation-grid;
    padding: 40px 0;
    position: relative;

    &.style-one {
        .slasher(@body-bg-color-one);
        background: @body-bg-color-one;
        text-align: right;
    }
    &.style-two {
        .slasher(@body-bg-color-two);
        background: @body-bg-color-two;
        
        &:before {
            transform: scaleX(-1);
        }

        &:after {
            transform: scaleY(-1) scaleX(-1);
        }
    }
    &.style-three {
        .slasher(@body-bg-color-three);
        background: @body-bg-color-three;
        text-align: right;
    }
}
