// Breakpoints
@tablet-break-point: 400px;
@desk-break-point: 880px;

@tablet-break: (min-width: @tablet-break-point);
@desk-break: (min-width: @desk-break-point);

// Color pointers
@body-bg-color-one: @subtle-dark-purple;
@body-bg-color-two: @indigo;
@body-bg-color-three: @meteor-grey;
@body-font-color: white;
@border-line-color: rgba(255, 255, 255, 0.25);
@nav-font-color: white;
@header-font-color: white;

// Color Vars
@subtle-dark-purple: #2E3549;
@indigo: #4E5798;
@dark-indigo: #47508F;
@meteor-grey: #2E2F42;
@color: #4c5c96;

// Font Stacks
@body-font-stack: 'Open Sans', sans-serif;
@hed-font-stack: 'Open Sans', sans-serif;
@logo-font-stack: monospace;