// Breakpoints
@tablet-break-point: 400px;
@desk-break-point: 880px;

@tablet-break: (min-width: @tablet-break-point);
@desk-break: (min-width: @desk-break-point);

// Color pointers
@body-bg-color-one: darkblue;
@body-font-color: white;
@nav-font-color: white;
@header-font-color: white;

// Color Vars

// Font Stacks